@font-face { font-family: Moon; src: url('Moon2.0-Regular.otf'); } 
@font-face { font-family: Moon2; font-weight: bold; src: url('Moon2.0-Bold.otf');}
@font-face { font-family: Luxia; src: url('Luxia-Display.otf'); } 
h1{
    font-family: Moon2;
}
h4{
    font-family: Moon;
}
body{
    background-color: black;
}
header{
    color : tomato;
}
button {
    margin: 150px;
    margin-left: 550px;
	width: 150px;
	height: 50px;
	cursor: pointer;
	background: #ff0000;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 10px 25px #ff0000, 0px -10px 25px #ff0000, inset 0px -5px 10px #ff0000, inset 0px 5px 10px #ffffff;
	color: white;
    font-family: Luxia;
	font-size: 20px;
	transition: 500ms;
}
button:hover {
    border: 2px solid #ff0000;
animation: hueRotation 10s linear infinite;
}